Flask==1.1.1
beautifulsoup4==4.4.1
lxml==4.4.2
requests==2.21.0
python-dotenv==0.10.3
google-api-python-client==1.7.11
google-auth==1.11.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
pytz==2019.3